extends ./base.jade
block content
  .row
    .col-md-12
      h1 Request a Ride
      form(name="pid-login")
        .form-group
          input.form-control(type="text",
            placeholder="Enter your ID",
            autocomplete="on",
            autofocus,
            inputmode="numeric",
            name="id-entry",
            pattern="[0-9]{9}",
            title="Enter your 9 digit ID"
            )
          button.btn.btn-primary.btn-lg.btn-block(type="button",
          name="id-submit") Submit
